*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f5f5f5;
}

span{
    color: #E95A08;
}
nav ul li:first-child{
        font-size: 18px;
    font-weight: 800;
    color: black;
}

nav ul li{
        font-family: "Inter", sans-serif;

    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
}

nav ul li i {
    color: black;
    font-size: 21px;
    font-weight: 800;
}
nav ul li i{
    margin-right: 10px;
}

.shoping span{
        font-family: "Inter", sans-serif;

    font-weight: 600;

}
nav ul li a span{
    margin-right: 10px;
}




#banner {
    width: 100%;
    height: 82vh;
    padding-top: 15vw;
}

.banner-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-main .left-side{
    width: 50%;
}

.banner-main .left-side h1{
      font-family: "Noto Serif", serif;
    font-size: 5.1vw;
    font-weight: 600;
}

.banner-main .left-side h1 span{
    color:#E95A08 ;
}
.banner-main .left-side p{
    font-family: "Inter", sans-serif;
    color: #464646;
    font-size: 1.5vw;
    margin-top: 1vw;
}

.banner-main .right-side{
    width: 50%;
}

.banner-main .right-side img{
    width: 100%;
    object-fit: cover;
}


#plant {
    width: 100%;
    min-height: 100vh;
    padding-top: 9vw;
    text-align: center;
}
.plant-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 2.4vw;
    text-align: center;
}
#plant h1{
    font-size: 4vw;
    text-transform: capitalize;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

#plant p{
    font-size: 1.6vw;
    color: #464646;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 3vw;
}
.plant-main .card img{
    width: 100%;
}

.plant-main .card h3{
    font-family: "Inter", sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 1.1vw;
}
.plant-main .card h5{
    font-family: "Inter", sans-serif;
    font-size: 1.1vw;
    font-weight: 700;
    margin-top: .5vw;
}

.plant-main .card button{
    width: 100%;
    background-color: #E95A08;
    color: white;
    font-size: .9vw;
    font-weight: 600;
    border: none;
    padding: .6vw;
    text-transform: uppercase;
    margin-top: .7vw;
}

#store {
    width: 100%;
    min-height: 100vh;
    padding-top: 14vw;
}
.store-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.store-left{
    width: 50%;
    position: relative;
}

.store-left .badge {
    position: absolute;
    top: -10vw;
    right: -9vw;
    width: 53%;
}
.store-left img{
    width: 100%;
}

.store-right{
    width: 49%;
}

.store-right .store-content{
    width: 100%;
}
.store-right h1{
    font-family: "Noto Serif", serif;
    font-size: 3.4vw;
    width: 70%;
    line-height: 3.9vw;
    font-weight: 700;
}

.store-right .store-content ul{
    text-align: justify;
      list-style-type: disc;
      padding-left: 2.5vw;
      /* padding-top: 1vw; */
}

.store-right .store-content li::marker{
    width: 20px;
    height: 20px;
    color: #E95A08;
}

.store-right .store-content ul li {
    display: list-item;
    width: 100%;
    font-size: 1.66vw;
    font-family: "Inter", sans-serif;
    margin-top: 1.66vw;
}



#deal{
    width: 100%;
    min-height: 100vh;
    padding-top: 7vw;
    padding-bottom: 9vw;
}


#deal h1{
    font-size: 3vw;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    margin-bottom: 1.5vw;
}
#deal p {
    font-size: 1.6vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 7vw;
    color: #8d8d8d;
}

.deal-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deal-main img{
    border-radius: 20px;
}
.deal-main .deal-right {
    width: 65.5%;
}
.deal-right img{
    width: 150%;
}

.deal-main .deal-left{
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.deal-card{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #E95A08; */
}
.deal-left img{
    width: 100%;
    /* height: 100%; */
}
 .overflow{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #03030380;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    color: white;
    /* padding-top: 5.5vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overflow h2{
    font-weight: 700;
    font-size: 1.5vw;
        font-family: "Noto Serif", serif;

}
.deal-right .overflow h2{
    font-weight: 700;
    font-size: 2.5vw;
        font-family: "Inter", sans-serif;


}

.overflow a{
    text-decoration: underline;
        font-weight: 600;
    font-size: 1vw;
    font-family: "Inter", sans-serif;

}
.deal-right .overflow a{
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5vw;
    font-family: "Inter", sans-serif;

}


#contact{
    width: 100%;
    height: 70vh;
    background-image: url(Image/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-main {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.contact-main h1{
    font-size: 3.5vw;
    font-family: "Noto Serif", serif;
    color: white;
    font-weight: 600;
    margin-bottom: 1.6vw;
}

.input-box {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.input-box input {
  padding: 10px;
  width: 40vw;
  height: 3vw;
  max-width: 80vw; 
  border: none;
  outline: none;
}
.input-box input::placeholder{
    font-size: 1vw;
    font-weight: 400;
}

.input-box button {
  padding: 1.5px 2.5vw;
  cursor: pointer;
  background-color: #E95A08;
  color: white;
  font-size: 1vw;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


footer{
    width: 100%;
    height: 40vh;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    height: 100%;
    padding-top: 5vw;
}

.footer-logo img{
    width: 30%;
    margin-bottom: 1vw;
}

.footer-logo p{
    font-size: 1.6vw;
    color: #6b6b6b;
}

.footer-menu-1 ul li{
    margin-bottom: 1.4vw;
    font-size: 1.1vw;
    color: #464646;
    font-weight: 400;
}

.footer-menu-1 ul li:hover{
    text-decoration: underline;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 1.3vw;
}

.social-media img{
    width: 100%;
    height: 100%;
}